<nav class="navbar fixed-top navbar-dark bg-info">
    <a class="navbar-brand" routerLink="/"><strong>Minh Stack MEAN</strong></a>
    <div class="form-inline">
        <button class="btn btn-dark mr-sm-2" routerLink="/login">Đăng Nhập</button>&nbsp;
        <button class="btn btn-warning my-2 my-sm-0" routerLink="/register">Đăng Ký</button>
    </div>
    <div class="form-inline">
        <div class="text-white">Hello, Admin</div>
        <button class="btn btn-warning my-2 my-sm-0">Đăng Xuất</button>
    </div>

</nav>
