<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Address</h4>
                <p>Phú Thạnh Tân Phú Hồ Chí Minh<br>
                Pin Code 1100058, Hồ Chí Minh</p>
            </div>
            <div class="col-md-4">
                <h4>Google Map</h4>
                <p>Tan Phú Hồ Chí Minh<br>
                Pin Code 1100058, City Ho Chi Minh</p>
            </div>
            <div class="col-md-4">
                <h4>Social Link</h4>
                <button class="btn btn-outline-warning">
                    <i class="bi bi-facebook" style="font-size: 24px;"></i>
                </button>&nbsp;
                <button class="btn btn-outline-warning">
                    <i class="bi bi-instagram" style="font-size: 24px;"></i>
                </button>&nbsp;
                <button class="btn btn-outline-warning">
                    <i class="bi bi-linkedin" style="font-size: 24px;"></i>
                </button>&nbsp;
                <button class="btn btn-outline-warning">
                    <i class="bi bi-twitter" style="font-size: 24px;"></i>
                </button>&nbsp;
                <button class="btn btn-outline-warning">
                    <i class="bi bi-youtube" style="font-size: 24px;"></i>
                </button>
            </div>
        </div>
    </div>
</div>
